/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  background-color: white;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
button:hover {
  cursor: pointer;
  background-color: black;
  color: #2ebaeb;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  width: 1903px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
}
header {
  background-image: url(assets/images/1.png);
  background-size: cover;
  height: 1212px;
}
.header-container {
  padding-top: 66px;
}
.first-header-column-content {
  gap: 30px;
}
.containe {
  display: flex;
  flex-direction: row;
  column-gap: 200px;
}
.logo-container {
  height: 68px;
  width: 396px;
  margin-bottom: 80px;
}
.r-r-c-logo {
  width: 70px;
  height: 68px;
}
.r-r-c-logo-w {
  width: 306px;
  height: 68px;
}
li.services-options {
  list-style-type: none;
}
h1.header-heading {
  font-family: "Mitr";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 80px;
  /* or 111% */

  display: flex;
  align-items: center;

  color: #2e8cad;
}

.header-parag {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #000000;
}
ul.services-options {
  display: flex;
  flex-direction: column;
}
li.services-options {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
  justify-content: flex-start;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #2e8cad;
}

#i-need-help-3,
#i-need-help-1,
#i-need-help-4,
#i-need-help-2 {
  outline: 1px solid black;
  background: #2ebaeb;
  color: #ffffff;
  border: none;
  border-radius: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  opacity: 0.6;
  transition: 0.3s;
  /* identical to box height, or 150% */

  display: flex;
  justify-content: center;
  width: 160px;
  height: 50px;
}
#i-need-help-3,
#i-need-help-4 {
  margin-bottom: 50px;
}
#i-need-help-1:hover,
#i-need-help-2:hover,
#i-need-help-3:hover,
#i-need-help-4:hover {
  opacity: 1;
}
.second-header-column {
  width: 480px;
  height: 465px;
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h3.contact-us,
h2.about-us,
h2.services,
h2.testymonials {
  font-family: "Mitr";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #2e8cad;
}
p.header-parag {
  margin-right: 200px;
}
p.empty-element-field {
  width: 374px;
  height: 56px;
  margin-bottom: 14px;
  background: #94d3ea;
  border-radius: 61px;
}
#contact-us {
  border: 3px solid #94d3ea;
  border-radius: 61px;
  width: 168px;
  height: 56px;
}
////////////////////
.about-us-container {
  width: 100%;
  margin-top: -129px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 54px;
}
.about-us-container-content {
  width: 1090px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.container-with-facts {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.first-fact-row,
.second-fact-row {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
p.about-us-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  /* Gray 2 */

  color: #4f4f4f;
}
///////////////////////////
.services-container,
.testymonials-container {
  padding-top: 54px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testymonials-container {
  background-color: #95d4eb;
}
.services-container-content,
.header-container-services,
.testymonials-container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.all-services {
  display: flex;
  flex-direction: row;
  gap: 22px;
}
.container-with-services {
  width: 385px;
  border-radius: 30px 30px 30px 30px;
  background: #ffffff;
}
.services-header-small p {
  padding: 30px 30px 10px 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #000000;
}
.services-description p {
  padding: 0px 30px 50px 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  color: #000000;
}
////////////////
footer {
  background-color: #47626b;
  height: 100px;
}
.all-testymonials {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container-with-testymonial {
  background-color: #ffffff;
  box-shadow: 0px 20px 20px rgba(129, 209, 255, 0.2);
  border-radius: 40px;
  padding: 30px 30px;
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.testimonial-second-row,
.testimonial-first-row {
  width: 1090px;
  display: flex;
  flex-direction: row;
  gap: 46px;
}

.testimonial-text {
}
.testimonial-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  color: #50b2ea;
}
.testimonial-review {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  padding-top: 13px;
  padding-bottom: 11px;

  color: #19435a;
}
.testimonial-stars {
  display: flex;
  flex-direction: row;
  gap: 9px;
}
